// colors
$main: #61DAF9
$sec: #232323
$caption: #9fcdff

// media query vars
$small-screen: 415px
$large-screen: 1200px

=flex($direction:row, $justify: center, $alignItems: center, $wrap: no-wrap)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $alignItems
  flex-wrap: $wrap

.Root-cont
  width: 100vw
  height: 100vh
  overflow-y: auto
  background: #111111

.App-content
  +flex()
  width: 100%
  height: calc(100% - 120px)

.App
  text-align: center
  box-sizing: content-box
  width: 80%
  height: 100%
  overflow-y: auto
  .Add-post-btn
    border-color: transparent
    position: absolute
    bottom: 10px
    right: 10px
    border-radius: 50%
    width: 64px
    height: 64px
    background: $main
    color: white
    font-size: 25px
    &:focus
      outline: none
.App-navigation
  +flex(column, flex-start)
  background: #1c1c1c
  width: 20%
  height: 100%
  .Nav-items-cont
    width: 100%
    height: 100%
    .Nav-item
      +flex(row, flex-start)
      padding: 0 20px
      font-size: 20px
      color: $main !important
      width: 100%
      height: 60px
      text-decoration: none
      text-transform: capitalize
      transition: background 300ms ease-in-out
      &:hover
        background: rgba(0, 0, 0, 0.5)
      @media screen and (max-device-width: $small-screen)
        padding: 0 10px
        font-size: 10px
        height: 30px

.App-intro
  font-size: large

@keyframes App-logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

// Header Component
.App-header
  +flex()
  background-color: $sec
  width: 100%
  height: 120px
  .Logo-cont
    +flex(column)
    .App-logo
      animation: App-logo-spin infinite 20s linear
      height: 70px
    .App-title
      font-size: 2.5em
      color: white

.Post-list
  +flex(column, flex-start)
  width: 100%
  padding: 0 20px
  .Sort-cont
    width: 100%
    +flex(row, flex-start)
    padding: 20px
    .Sort-Title
      color: white
      font-size: 15px
      margin: 0 10px 0 0
    .Select-control
      background: aliceblue
      height: 19px
.Posts-cont
  width: 100%
  padding: 35px
  +flex(column, flex-start)
  @media screen and (max-device-width: $small-screen)
    padding: 10px
  .Post-item
    width: 100%
    padding-top: 10px
    .Title-cont
      +flex(row , flex-start, start, wrap)
      width: 100%
      text-align: justify
      border-bottom: 1px solid rgba(255, 255, 255, 0.73)
      @media screen and (max-device-width: $small-screen)
        flex-wrap: wrap
      .Title-text-cont
        +flex(row, flex-start)
        width: 70%
        @media screen and (max-device-width: $small-screen)
          width: 100%
        .fTitle
          font-size: 24px
          line-height: 1.35
          color: white
          margin-bottom: 10px
          font-weight: 600
          @media screen and (max-device-width: $small-screen)
            line-height: 1.0
            font-size: 20px
      .Action-cont
        +flex(row, flex-end)
        width: 30%
        @media screen and (max-device-width: $small-screen)
          width: 100%
          justify-content: flex-start
        .Action-btn
          margin-right: 10px
          &:last-child
            margin-right: 0
      .Info-text
        width: 100%
        text-align: start
        font-size: 10px
        color: $main
        @media screen and (max-device-width: $small-screen)
          margin-top: 10px
    .Body-cont
      +flex(row, flex-start)
      width: 100%
      padding: 20px
      font-size: 1.5rem
      color: rgba(245, 245, 245, 0.97)
      align-items: start
      text-align: left
      border-bottom: 1px solid rgba(255, 255, 255, 0.73)
  .Add-comment-cont
    +flex(column, flex-start, start)
    width: 100%
    .Title-cont
      +flex(row , flex-start, start, wrap)
      padding: 20px 20px 0px 20px
      width: 100%
      text-align: justify
      .fTitle
        text-align: left
        font-size: 20px
        line-height: 1.35
        color: white
        margin-bottom: 10px
        font-weight: 600


.Comments-list
  +flex(column, flex-start)
  width: 100%
  border-bottom: 1px solid rgba(255, 255, 255, 0.73)
  .Header-cont
    width: 100%
    color: white
    +flex(row, flex-start)
    padding: 20px
    @media screen and (max-device-width: $small-screen)
      padding: 10px
    .Title-cont
      text-align: left
      width: 30%
      font-size: 20px
    .Action-Cont
      +flex(row, flex-end)
      width: 70%
      .Action-Title
        color: $main
        font-size: 15px
        margin: 0 10px 0 0
      .Select-control
        background: aliceblue
        height: 19px
.Comments-cont
  width: 100%
  padding: 35px
  +flex(column, flex-start)
  @media screen and (max-device-width: $small-screen)
    padding: 15px 15px 0 15px
  .Comment
    +flex(column, flex-start)
    padding: 10px
    width: 100%
    border-bottom: 1px solid rgba(99, 99, 99, 0.41)
    margin-bottom: 10px
    &:last-child
      border-bottom: 0
      margin-bottom: 0
    .Title-cont
      +flex(row , flex-start, start, wrap)
      width: 100%
      text-align: justify
      @media screen and (max-device-width: $small-screen)
        flex-wrap: wrap
      .Author-cont
        +flex(row, flex-start)
        width: 70%
        @media screen and (max-device-width: $small-screen)
          width: 100%
        .fTitle
          font-size: 1.5rem
          line-height: 1.35
          color: white
          margin-bottom: 10px
          font-weight: 600
      .Action-cont
        +flex(row, flex-end)
        width: 30%
        @media screen and (max-device-width: $small-screen)
          width: 100%
          justify-content: flex-start
        .Action-btn
          margin-right: 10px
          &:last-child
            margin-right: 0
      .Info-text
        width: 100%
        text-align: start
        font-size: 10px
        color: $main
    .Body-cont
      +flex(row, flex-start)
      width: 100%
      padding: 20px 20px 10px 20px
      font-size: 1.1rem
      color: rgba(245, 245, 245, 0.97)
      align-items: start
      text-align: left
      @media screen and (max-device-width: $small-screen)
        padding: 10px

.Entity-form
  +flex(column, flex-start, start)
  padding: 20px
  width: 100%
  .form-group
    width: 100%
    .control-label
      width: 100%
      color: white
      text-align: justify
    .form-control
      width: 70%
      @media screen and (max-device-width: $small-screen)
        width: 100%
    .help-block
      width: 70%
      background: #dc3646
      color: white
      height: 30px
      float: left
      text-align: start
      padding: 5px
      border-radius: 5px
      margin-top: 5px
      @media screen and (max-device-width: $small-screen)
        width: 100%
    &.has-error
      .control-label
        color: #dc3646
      .form-control
        border-color: #dc3646
  .Submit-btn
    background: $main
    color: white
.modal-content
  display: flex
  flex-direction: column
  padding: 20px
  background: $sec
  border: 1px solid $sec
.modal-title
  color: white
.close
  color: white